<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Aqui Empieza</title>
	<link rel="stylesheet" type="text/css" href="../../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
</head>
</head>
<body>
	
	<br>
	<h1>Aqui Empieza</h1>
	<hr>
	<p class="textual">Si tu sueño siempre ha sido viajar por el mundo has llegado al lugar correcto.
		<br>
		No importa si eres mujer u hombre, tienes 15 o 90 años , estudias o trabajas, viajas solo o con tu familia, aquí encontrarás todo lo que necesitas saber para hacer tu sueño realidad, desde unas vacaciones familiares hasta un viaje sin fecha de regreso.
		<br>
		<br>
		<b>Viajar no es una actividad que esté limitada para los ricos, es algo que todos podemos hacer si realmente nos lo proponemos.</b><br>
		El mundo es un lugar enorme que merece la pena ser explorado y aquí estoy yo para ayudarte.
		<br> 
		<div class="textualDos">Bienvenido a Juntos por el Mundo</div>
<img src="viaje.jpg" alt="viaje" width="1340" height="480" align="center">
<hr>
	<a href="../../../index.html"><h3>Volver a Menu</h3></a>
	<br>
</body>
</html>