<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Donde Hospedarme En</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Donde Hospedarme</h1>
	<div class="container">
	<p class="containerHijo"><b> Lo primero para saber cómo elegir un buen hotel es definir: <b>¿Qué quieres?</b></p><hr>
	<br>Lo primero que debes de saber es que en la vida no hay nada gratis, y la mayoría de las cosas 
que son baratas generalmente el costo lo trasladan a otras cosas. Por ejemplo, los hoteles 
más económicos normalmente estarán a las afueras de la ciudad, quizás no estén tan limpios 
o no cuenten, con todos los servicios que necesitas.
Dicho lo anterior, tienes que estar consciente de que tanto estás dispuesto a sacrificar en 
comodidad para encontrar un hotel barato. Esto no quiere decir que en realidad tengas 
que sacrificarlo, pero al menos estar consciente de que quizás tendrás que hacerlo.
Entonces, si comparas 2 hoteles de 4 estrellas y quisieras encontrar un hotel bueno y 
barato tendrás que buscar o sacrificar alguna de las siguientes cosas:</p> 
<hr>
<div>
	<ul>
 	<li><b>Ubicacion</b></li>
	<li><b>Acceso a transporte publico</b></li>
	<li><b>Desayuno</b></li>
	<li><b>Limpieza</b></li> </ul>
</div>
	</div>


	<hr>
	<a href="../../index.html"><h3>Volver a Menu</h3></a>
	<br>
</body>
</html>