<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Tienda de Viaje</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
</head>
</head>
<body>
	<br>
	<h1>Tienda de Viaje</h1>
	<hr>
	<table border="1px" align="center">
		<tr class="colortabla">
			<td><b><h4>Nombre del Libro</h4></b></td>
			<td><b><h4>Ficha Tecnica</h4></b></td>
			<td><b><h4>Fecha de Publicacion</h4></b></td>
		</tr>
		<tr class="colortabla">
			<td><b><h4>Mi Viaje Por el Mundo</h4></b></td>
			<td><ol><li><em><h4>Autor:</h4></em><h5>Jose Pastran</h5><li><em><h4>Editorial:</h4></em><h5>Salesiana</h5></li><li><em><h4>Idioma Original:</h4></em><h5>Español</h5></li></ol></td>
			<td><b>11/02/2018</b></td>
	</table>
	<hr>
	<a href="../../index.html"><h3>Volver a Menu</h3></a>
	<br>
</body>
</html>