<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Planea tu Viaje</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
</head>
</head>
<body>
	<br>
	<h1>Planea Tu Viaje</h1>
	<br>
	<div class="textualDos">
	Encuentra toda la información necesaria para cumplir tu sueño de viajar por el mundo.
	</div>
	<div><table>
		<tr>
			<td><b>¿Te hace falta una mochila o equipo de viaje?</b></td>
			<td><b>¿Quieres información especifica de un país?</b></td>
		</tr>
		<tr>
			<td>Visita la <b>TIENDA DE VIAJE</b> Descubre el equipo que uso en todos mis viajes 
				<br>y ordena el tuyo directo a la puerta de tu casa.</td>
				<td>Revisa la sección de <b>DESTINOS</b> Encontrarás información especifica 
					<br>de los países donde he viajado, consejos de:</td>
		</tr>
		<tr>
			<td> <div><ul>
				<li>Mochilas y Maletas</li>
				<li>Accesorios de Viajes</li>
				<li>Camara de Viaje</li>
				<li>Equipo Electronico</li>
				<td><div><ul>
					<li>Cuanto cuesta viajar a...</li>
					<li>Que ver, hacer, y comer en...</li>
					<li>Itinerario y Ruta</li>
					<li>Consejos para viajar barato</li>
				</ul></div>
				</td>
			</ul></td>
			<tr>
				<td><a href="../tiendadeviaje/tiendadeviaje.html"><h4><b>Ir a TIENDA DE VIAJE</b></h4></a></td>
				<td><a href="../destinos/destinos.html"><h4><b>Ir a DESTINOS</b></h4></a></td>
			</tr>
		</tr>
	</table></div>
	<hr>
	<a href="../../index.html"><h3>Volver a Menu</h3></a>
	<br>
</body>
</html>