<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Destinos</title>
	<link rel="stylesheet" type="text/css" href="../../assets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
</head>
<body>
	<h1> Destinos</h1>
	<h2 align="center"><em>Toda la información sobre el destino al que piensas viajar.</em></h2>
	<hr>
	<p class="textual" align="center"> En esta sección encontrarás todos los artículos que he publicado sobre 
		<br>los destinos a los que he viajado. Encontrarás consejos sobre cuánto cuesta 
		<br>viajar al país, consejos para viajar barato, los hoteles que me he hospedado
		<br>y recomiendo, qué ver, hacer, comer y mucho más.
<br>
		Sin importar el tipo de viaje que estés realizando en estos artículos encontrarás 
<br>	información valiosa para sacar el mejor provecho a tu viaje.</p>
	<hr>
	
	<div>
		<b>Paises</b>
		<ul>
		<li><b>Portugal</b></li>
		<li><b>Italia</b></li>
		<li><b>Alemania</b></li>
		<li><b>Hungria</b></li>
		<li><b>Paises Bajos</b></li>
		<li><b>Francia</b></li>
		<li><b>España</b></li>
		</ul>
</div>
	
	<hr>
	<a href="../../index.html"><h3>Volver a Menu</h3></a>
	<br>
</body>
</html>